body
  height: 100%
  width: 100%

#kmeans
  width: 100%
  
  svg
    background-color: #223344
    cursor: pointer
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

  button
    padding: .5em .8em
      
  label
    display: inline-block
    width: 15em